/*Starting library */
#acc {
  align-content: center;
}

#acl {
  align-content: left;
}

#acr {
  align-content: right;
}

#acfs {
  align-content: flex-start;
}

#acfe {
  align-content: flex-end;
}

#acsb {
  align-content: space-between;
}

#acsa {
  align-content: space-around;
}

#acs {
  align-content: stretch;
}

#aic {
  align-items: center;
}

#ail {
  align-items: left;
}

#air {
  align-items: right;
}

#aifs {
  align-items: flex-start;
}

#aife {
  align-items: flex-end;
}

#aib {
  align-items: baseline;
}

#ais {
  align-items: stretch;
}

#asc {
  align-self: center;
}

#asl {
  align-self: left;
}

#asr {
  align-self: right;
}

#asfs {
  align-self: flex-start;
}

#asfe {
  align-self: flex-end;
}

#asb {
  align-self: baseline;
}

#ass {
  align-self: stretch;
}

#bi {
  background-image: url();
}

#bpc {
  background-position: center;
}

#bs {
  background-size: 100%
}

#br {
  background-repeat: no-repeat;
}

#bas {
  background-attachment: scroll;
}

#baf {
  background-attachment: fixed;
}

#bal {
  background-attachment: local;
}

#bc {
  background-color: black;
}

#bord {
  width: 200px;
  height: 200px;
  border: 3px;
  background: red;
}

#box-shad {
  box-shadow: 15px 15px 5px #888888;
}

#box-siz {
  width: 100px;
  padding: 20px;
  border: 5px solid black;
}

#clr {
  clear: both;
  clear-right;
  clear-left;
}

#clp {
  clip: (500px, 500px, 500px, 500px);
}

#di {
  display: inline;
}

#dib {
  display: inline-block;
}

#db {
  display: block;
}
